@font-face {
    font-family: 'AritaBuriM';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Medium.ttf') format("truetype");
    font-display: swap;
}

@font-face {
    font-family: 'AritaBuriB';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/amore/AritaBuri-Bold.ttf') format("truetype");
    font-display: swap;
}

*{
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

#city{
    font-family: 'AritaBuriM';
    font-size: 46px;
}
.topCtn span:nth-child(2){
    font-family: 'AritaBuriM';
    font-size: 46px;
}

#temp{
    font-family: 'AritaBuriB';
    font-size: 90px;
}

#desc{
    font-family: 'AritaBuriM';
    font-size: 40px;
}
#detail_temp{
    font-family: 'AritaBuriM';
    font-size: 40px;
}

.botCtn .temp{
    font-family: 'AritaBuriB';
    font-size: 60px;
}

.botCtn .detail_temp{
    font-family: 'AritaBuriM';
    font-size: 20px;
}
.botCtn .city{
    font-family: 'AritaBuriM';
    font-size: 30px;
}


#count{
    font-family: 'AritaBuriM';
    font-size: 46px;
}